<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Create An Account</title>
</head>

<body>
    <section class="logo-heading">
        nexus
    </section>
    <main class="main">
        <div class="centre">
            <form>
                <h1 class="form-heading">Create your Account</h1>

                <div class="txt_field">
                    <label class="label-name">Password</label>
                    <input type="text" class="input-class" required>
                    <span></span>
                </div>

                <div class="txt_field">
                    <label class="label-name">Confirm Password</label>
                    <input type="password" class="input-class" required>
                    <span></span>
                </div>

                <div class="btn-set">
                    <button class="btn2" id="back">
                        Go Back
                    </button>
                    <button class="btn2" id="next">
                        Next
                    </button>
                </div>
                
    </main>
    </form>
    </div>
</body>

</html>