<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>NEXUS</title>
</head>

<body>
    <section class="logo-heading">
        nexus
    </section>
    <main class="main">
        <div class="centre">
            <h1 class="form-heading">Login to your account</h1>
            <form>
                <div class="txt_field">
                    <label class="label-name">Email, Username</label><br>
                    <input type="text" class="input-class" required>
                    <span></span>
                </div>

                <div class="txt_field">
                    <label class="label-name">Password</label><br>
                    <input type="password" class="input-class" required>
                    <span></span>
                </div>

                <div class="btn">
                    <button type="submit" class="Log-in">Log in</button>
                </div>

                <div class="content">
                    <div class="text-divider-line"></div><p class="or">OR</p><div class="text-divider-line"></div>
                </div>

                <div class="google">
                    <img src="../assets/images/search.png" alt="" class="google-icon"><p>Sign In with Google</p>
                </div>

                <div class="forgot">
                    <p>Forgotten Your Password?</p>
                </div>
            </form>
    </main>

    <div class="main-2">
        <div class="box2">
            <div class="account">
                <p>Don't Have an Account?<span> Signup</span></p>
            </div>
        </div>
    </div>
</body>

</html>